<form #form="ngForm" (ngSubmit)="onSubmit()">
  <mat-card class="review-card">
    <mat-card-title>
      <h1 style="text-align: center;">Add an Article</h1>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input disabled matInput placeholder="Select the date:" [(ngModel)]="review.date" name="date" [matDatepicker]="date">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker disabled="false" #date></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea placeholder="Enter your Article:" rows="3" maxlength="300" matInput [(ngModel)]="review.text" name="review"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
 </form>
   