h1 {
   font-size: 45px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 10px;
   }
.memory-card {
   min-width: 150px;
   max-width: 400px;
   width: 100%;
   margin: auto;
}

.mat-form-field {
   width: 100%;
}
